.btn {
  background-color: whitesmoke;
  border-color: lightgray;
  color: black;
}
.btn:hover {
  border-color: papayawhip;
  background-color: darkgrey;
  color: black;
}

.errorMsg {
  display: none;
  color: red;
}

.errorMsgServer {
  color: red;
}

#loader {
  position: fixed;
  left: 50%;
  top: 50%;
}