@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px;
    }
}

.modal-body #content section.vh-100 {
    height: 60vh!important;
}

.modal-body #content {
    min-height: 60vh;
}
